<!DOCTYPE html>
<html lang="[LANG]">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="[DESCRIPTION]">
        <meta name="author" content="[AUTHOR]">
        <title>[TITLE]</title>
        <style>[STYLE]</style>
    </head>
    <body>
    <header>
        <nav>[MENU]</nav>
        [HEADER]
    </header>
        [BODY]
        <footer>
            [FOOTER]
        </footer>
        <noscript>[NOSCRIPT]</noscript>
        <script>[SCRIPT]</script>
    </body>
</html>
